@use '../utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 Block Settings
///
/// Give styles to the popup settings in the `Block Tools` component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(block-settings) {
	width: 100%;
	max-width: 320px;
	position: absolute;
	top: 100%;
	right: 0;
	display: block;
	margin: $spacing-md;
	border-radius: var(--lq-button-border-radius);
	padding: $spacing-lg;
	background: var(--lq-button-contrast-background, $color-mono-dark);
	color: $color-mono-light;

	@include element(title) {
		margin: 0 0 $spacing-xl;
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}
