@use '../utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 Builder Header
///
/// Give styles to the `BuilderHeader` component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(builder-header) {
	@include bp(max-width, md) {
		position: sticky;
		z-index: 100;
		top: 0;
		left: 0;
	}

	@include bp(min-width, md) {
		flex: 0 0 auto;
	}
}
