@use '../utils/utils' as *;

/// -----------------------------------------------------------------------------
/// 🟢 Builder Menu Bar
///
/// Give styles to the menubar section inside the `Builder Header` component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(builder-menubar) {
	display: none;
	flex-flow: row wrap;
	justify-content: center;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: $spacing-md;
	padding: $spacing-sm;
	border-radius: var(--lq-border-radius-md);
	background: var(--lq-button-contrast-background, $color-mono-dark);

	// Element: Button
	button[role='menuitem'] {
		margin-right: $spacing-sm;

		&:last-child {
			margin-right: 0;
		}
	}

	// State: Active
	@include modifier(active) {
		display: flex;
	}

	// Hide element in tablets and lower screens
	@include bp(min-width, md) {
		display: none;
	}
}
