$bp-sm: 460px;
$bp-md: 768px;
$bp-lg: 1200px;

$border-radius: 8px;

$color-primary: #4c6cde;
$color-secondary: #00d2f4;
$color-mono-base: #979797;
$color-mono-light: #ffffff;
$color-mono-dark: #232323;

$spacing-xs: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

$index-top: 100;
$index-middle: 50;
$index-bottom: 1;

$sidebar-width: 72px;
