@use '../utils/utils' as *;
$bem-namespace: $front-namespace;

/// -----------------------------------------------------------------------------
/// 🟢 Block Text
///
/// Give styles to the `BlockText` component.
///
/// @author Leighton Quito (iamleigh.com)
/// -----------------------------------------------------------------------------
@include block(block-image) {
	@include modifier(size-auto) {
		img {
			width: auto;
		}
	}

	@include modifier(size-full) {
		img {
			width: 100%;
		}
	}
}
